body {
	background-color:#6495ED;

}

main {
    color:white;
    text-align: center;
}

h4 {
    font-family: Verdana;
	font-weight: bold;

}

h5 {
    font-family: sans-serif;
    font-size: 1em;
}

img {
    height: 300px;
	width: 400px;


}

p {
	font-family: Tahoma;
	font-size: 1em;
    margin-right: 200px;
    margin-left: 200px;
}

li {
	display: inline;
	border: 2px solid black;
	font-family: Futura, Tahoma, sans-serif;
	color: black;
	padding: 5px;
	border-radius: 5px 5px;
	background-color: #FFF8DC
}
